  <%provide(:title,@user.name.capitalize)%>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name.capitalize %>
      </h1>
    </section>
    <section>
      <%= render "shared/stats" %>
    </section>
    <section >
      <%=  render "follow_form" if logged_in? %>
    </section>
  </aside>

  <div class="col-md-6 users">
    <% if(@user.microposts.any?)  %>


      <h1 class="page-header">
        Microposts  (<%= @microposts.count %>)
      </h1>
      <ol class="list-groups">
        <%= render @microposts %>
      </ol>
      <div align="center">
        <%= will_paginate @microposts  %>
      </div>
    <% else %>
        <div class="alert alert-info">
          There is no Post
        </div>
    <% end %>
  </div>
</div>
