<li class=" list-group-item">
  <%= gravatar_for micropost.user %>
  <%=  micropost.content %>
      <p>
        Publish By :
        <span class="text-muted">
          <%= link_to micropost.user.name.capitalize, user_url(micropost.user)  %>
        </span>
      </p>
      <p width="50">
        <%= image_tag micropost.picture_url if micropost.picture? %>
      </p>

      <p>
        Publish at:
        <span class="text-muted">
          <%=time_ago_in_words(micropost.created_at) %>
        </span>
        <% if current_user?(micropost.user) %>

          <%= link_to "", micropost,method: :delete, data:{confirm:"Are Sure to Delete?"}, class: "glyphicon glyphicon-trash pull-right pull-right rmargin " %>
        <% end %>
      </p>

</li>
